<extend name="Base/main" />

<block name="body">

<!--<div class="ibanner"><img src="__ROOT__{:get_cover($p_find['cover_id'], $field = path)}"></div>-->

<div class="pro_name" data-am-widget="navbar">
    <!--<span>{$data.title}</span>-->
   <!--  <a href="###"><img src="__MOBILE__/images/m_pro_5.png" /></a> -->
</div>
<!--<div class="pro_tit"><p>商品详情</p></div>-->
<!-- <table class="attribute">
    <tbody>
    <tr>
        <td>品  牌</td>
        <th>海润</th>
    </tr>
    <tr>
        <td>产  地</td>
        <th>中国</th>
    </tr>
    <tr>
        <td>保质期</td>
        <th>三年</th>
    </tr>
    <tr>
        <td>功  效</td>
        <th>深度保湿、深度保湿、深度保湿、深度保湿</th>
    </tr>
    </tbody>
</table> -->
<div class="content" style="text-align:center;margin-left:10px;margin-right:10px;">{$data.content}</div>

<!-- <div class="ibanner"><img src="__MOBILE__/images/m_pro_4.png"></div> -->

</block>