    <header data-am-widget="header" class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
<!--         <a href="javascript:void(0)" onclick="history.back()" data-am-offcanvas>
            <i class="am-header-icon am-icon-angle-left"></i>
        </a> -->
          <a href="#doc-oc-demo1" data-am-offcanvas>
                <i class="am-header-icon am-icon-bars"></i>

          </a>
      </div>
      <h1 class="am-header-title">
          <a href="#title-link" class="">
            {$meta_title}
          </a>
      </h1>
      <div class="am-header-right am-header-nav">
          <a href="#doc-oc-demo2" data-am-offcanvas>
                <i class="am-header-icon am-icon-user"></i>
          </a>
      </div>
    </header>

