<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('News/add')}">新 增</a>

            <button class="btn ajax-post confirm" url="" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
			<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
			<th class="">ID</th>
			<th class="">新闻标题</th>
			<th class="">新闻内容</th>
			<th class="">发布人</th>
			<th class="">发布时间</th>
			<th class="">发布ip</th>
			<th class="">评论数量</th>
			<th class="">浏览数量</th>
			<th class="">是否审核</th>
			<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="data">
		<volist name="data" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.title|msubstr=0,6,'utf-8',true}</td>
			<td>{$vo.contents|msubstr=0,9,'utf-8',true}</td>
			<td>{$vo.rel_admin}</td>
			<td>{$vo.rel_time|date='Y-m-d H:i:s',###}</td>
			<td>{$vo.rel_ip}</td>
			<td>{$vo.comments}</td>
			<td>{$vo.views}</td>
		<!-- 	<td>{$vo.is_review}</td> -->
			<td>
				<if condition="$vo.is_review eq 1">审　核
					<else />未审核
				</if>
			</td>
			<td>
				<a href="{:U('Admin/News/edit',array('id'=>$vo['id']))}" class="btn">编辑</a>
		<!-- 		<a href="{:U('Admin/News/del',array('id'=>$vo['id']))}" class="btn">删除</a> -->
				<input type="button" class="btn" onclick="confirm_del('{:U('Admin/News/del',array('id'=>$vo['id']))}}')" value="删 除">
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

	//删除提示
	function confirm_del(a){
		if(confirm("确定要执行该操作吗？")){
			self.location = a;
		}else{
			self.location.reload();
		}	
	}

	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>
