<extend name="Public/base"/>

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="__JS__/myQuery.js"></script>
    <div class="main-title">
        <h2>上传logo</h2>
    </div>
<!--     <input type="hidden" value="{:U('Admin/silder/img_del')}" id="img_url"> -->
    <form action="{:U('Admin/logo/edit')}" method="post" class="form-horizontal">
        <div class="form-item">
        <input type="hidden" name="old_pic_id" value="{$old_pic_id}">
                <label class="item-label">上传图片<span class="check-tips">（尺寸:100px * 135px）</span></label>
                <div class="controls">
                    <input type="file" id="upload_picture_{$field.name}">
                    <input type="hidden" name="pic_id" id="cover_id_{$field.name}" value="{$data[$field['name']]}"/>
                    <div class="upload-img-box">
                        <notempty name="data[$field['name']]">
                            <div class="upload-pre-item"><img src="{$data[$field['name']]|get_cover='path'}"/></div>
                        </notempty>
                    </div>
                </div>
        </div>
        <script type="text/javascript">
        //上传图片
        /* 初始化上传插件 */
        $("#upload_picture_{$field.name}").uploadify({
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "上传图片",
            "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
            "width"           : 120,
            'removeTimeout'   : 1,
            'fileTypeExts'    : '*.jpg; *.png; *.gif;',
            "onUploadSuccess" : uploadPicture{$field.name},
            'onFallback' : function() {
                alert('未检测到兼容版本的Flash.');
            }
        });
        function uploadPicture{$field.name}(file, data){
            var data = $.parseJSON(data);
            var src = '';
            if(data.status){
                $("#cover_id_{$field.name}").val(data.id);
                src = data.url || '__ROOT__' + data.path
                $("#cover_id_{$field.name}").parent().find('.upload-img-box').html(
                    '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                );
            } else {
                updateAlert(data.info);
                setTimeout(function(){
                    $('#top-alert').find('button').click();
                    $(that).removeClass('disabled').prop('disabled',false);
                },1500);
            }
        }
        </script>
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips">（logo描述）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$title}">
            </div>
        </div>

        <div class="form-item">
            <button class="btn submit-btn" id="submit" type="submit" target-form="form-horizontal">修 改</button>
            <!-- <a href="{:U('logo/edit',array('id'=>$logo['id']))}" class="btn submit-btn">修 改</a> -->
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
    

    <!-- 当前logo -->
    <div style="padding: 20px 0">
        <h4>当前logo<span style="color:#999;">（上传logo将替换现有logo）</span></h4>
        <br />
    <img src="{$logo['img_url']}">

    </div>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
