<extend name="Base/main" />

<block name="body">
<div class="location">
    <span class="fa fa-home"></span>
    <a href="#">首页</a>&nbsp;
    <span class="fa fa-angle-right"></span>&nbsp;
    <a href="#">企业介绍</a>&nbsp;
    <span class="fa fa-angle-right"></span>&nbsp;
    <a href="#" id="address">企业概况</a>
</div>

<div class="enterprise_cen">
    <div class="enterprise_left">
        <ul id="tabs">
            <li><a href="#">企业概况</a></li>
            <li><a href="#">企业文化</a></li>
            <li><a href="#">核心优势</a></li>
        </ul>
    </div>
    <div class="enterprise_right">
        <div class="enterprise_article">
            <span>
                云南省城市建设投资集团有限公司（简称：云南城投集团，原名：云南省城市建设投资有限公司，2012年7月更名）
                成立于2005年4月，是经云南省人民政府批准组建的现代大型国有企业，是云南省人民政府授权的城建投资项目出资人
                代表及实施机构。2009年2月，集团纳入云南省国资委监管。
            </span><br/><br/><br/>
            <span>
                云南城投集团以“政府引导、市场机制、企业运作”为指导思想，围绕云南省委、省政府关于城镇化建设的战略部署，
                实现政府意图。通过建立科学高效的投融资体系，在政府重点关注的产业区域发挥种子资金的投资引导和多级放大作用，
                促进云南省城市化建设与发展。先后投资建设了北京云南大厦、云南海埂会议中心、部分驻昆高校呈贡新校区建设、西双版纳避寒山庄、
                昆明第一人民医院北市区医院、昆明滇池国际会展中心等重点项目。
            </span><br/><br/><br/>

            <span>
                集团成立以来，通过货币资源化、资源资产化、资产资本化、资本证券化、证券货币化的良性循环，实现了持续跨越式发展，集团总资产已逾千亿元，
                拥有云南城投置业股份有限公司、云南水务产业发展有限公司、莱蒙国际集团有限公司3家主板上市公司和26家全资（控股）二级子公司，诚泰财产保
                险股份有限公司、云南本元支付管理有限公司等20家二级参股公司，业务涵盖城市开发、城镇水务、文化旅游会展、医疗、生物医药、金融、教育、酒
                店等领域。城市开发主业以城投置业为主要载体，以旅游地产、养生地产为战略重点，着力推进 “梦云南”（荣获“2012中国旅游地产品牌价值TOP10”）
                和“融城”品牌系列项目的开发；城镇水务坚持综合水务投资、大水务经营、轻重资产相结合、提升人居环境综合投资四个模式，全方位开发省内、外及
                国外市场，业务辐射北京、山东、新疆、江苏、贵州、香港以及南亚地区；文化旅游会展业务以西双版纳、迪庆民族文化旅游提质增效为着力点，不断拓宽
                业务范围，探索新型旅游开发模式，打造集会展、旅游、休闲、度假、养生于一体的旅游综合体项目。集团牵头发起设立的诚泰保险公司实现了云南地方保
                险业市场零的突破；控股的本元支付管理公司成为云南省首家第三方支付业务企业；投资建设的一乘驾校成为西南地区最大规模驾驶培训学校；作为全国第一个
                并购三级甲等公立医院的成功案例，由集团投资建设的“昆明市第一人民医院甘美国际医院”建成运营；旗下三七科技基本完成了从科技到种植、提取、精深加
                工、贸易各板块的三七全产业链布局 结合新一轮国企改革的政策导向，集团正按照有利于聚焦核心主业、提升核心竞争力，在坚持专业化基础上实施相关多元化
                经营的既定目标，以新定位优化集团战略规划，逐步建立完善集团业务生态系统，确保做强城市开发与城镇水务两个主营业务，推进“大健康、大休闲”两个转型业
                务，抓好金融与互联网两个平台建设，实现集团业务的转型升级与协同发展。
            </span><br/><br/><br/>
            <span>
                云南省城市建设投资集团有限公司（简称：云南城投集团，原名：云南省城市建设投资有限公司，2012年7月更名）成立于2005年4月，是经云南省人民政府批准组建
                的现代大型国有企业，是云南省人民政府授权的城建投资项目出资人代表及实施机构。2009年2月，集团纳入云南省国资委监管。
                云南城投集团以“政府引导、市场机制、企业运作”为指导思想，围绕云南省委、省政府关于城镇化建设的战略部署，实现政府意图。
                通过建立科学高效的投融资体系，在政府重点关注的产业区域发挥种子资金的投资引导和多级放大作用，促进云南省城市化建设与发展。
                先后投资建设了北京云南大厦、云南海埂会议中心、部分驻昆高校呈贡新校区建设、西双版纳避寒山庄、昆明第一人民医院北市区医院、
                昆明滇池国际会展中心等重点项目。
            </span><br/><br/><br/>
            <span>
                集团成立以来，通过货币资源化、资源资产化、资产资本化、资本证券化、证券货币化的良性循环，实现了持续跨越式发展，集团总资产已逾千亿元
                ，拥有云南城投置业股份有限公司、云南水务产业发展有限公司、莱蒙国际集团有限公司3家主板上市公司和26家全资（控股）二级子公司，
                诚泰财产保险股份有限公司、云南本元支付管理有限公司等20家二级参股公司，业务涵盖城市开发、城镇水务、文化旅游会展、医疗、生物医药、
                金融、教育、酒店等领域。城市开发主业以城投置业为主要载体，以旅游地产、养生地产为战略重点，着力推进 “梦云南”（荣获“2012中国旅游地产品牌价值TOP10”）
                和“融城”品牌系列项目的开发；城镇水务坚持综合水务投资、大水务经营、轻重资产相结合、提升人居环境综合投资四个模式，全方位开发省内、外及国外市场，业务辐射
                北京、山东、新疆、江苏、贵州、香港以及南亚地区；文化旅游会展业务以西双版纳、迪庆民族文化旅游提质增效为着力点，不断拓宽业务范围，探索新型旅游开发模式，
                打造集会展、旅游、休闲、度假、养生于一体的旅游综合体项目。集团牵头发起设立的诚泰保险公司实现了云南地方保险业市场零的突破；控股的本元支付管理公司成为云南
                省首家第三方支付业务企业；投资建设的一乘驾校成为西南地区最大规模驾驶培训学校；作为全国第一个并购三级甲等公立医院的成功案例，由集团投资建设的“昆明市第一人民医院甘美
                国际医院”建成运营；旗下三七科技基本完成了从科技到种植、提取、精深加工、贸易各板块的三七全产业链布局。
            </span>
        </div>
        <div class="enterprise_article" style="display: none;">
            <span>
                2云南省城市建设投资集团有限公司（简称：云南城投集团，原名：云南省城市建设投资有限公司，2012年7月更名）
                成立于2005年4月，是经云南省人民政府批准组建的现代大型国有企业，是云南省人民政府授权的城建投资项目出资人
                代表及实施机构。2009年2月，集团纳入云南省国资委监管。
            </span><br/><br/><br/>
            <span>
                2云南城投集团以“政府引导、市场机制、企业运作”为指导思想，围绕云南省委、省政府关于城镇化建设的战略部署，
                实现政府意图。通过建立科学高效的投融资体系，在政府重点关注的产业区域发挥种子资金的投资引导和多级放大作用，
                促进云南省城市化建设与发展。先后投资建设了北京云南大厦、云南海埂会议中心、部分驻昆高校呈贡新校区建设、西双版纳避寒山庄、
                昆明第一人民医院北市区医院、昆明滇池国际会展中心等重点项目。
            </span><br/><br/><br/>

            <span>
                2集团成立以来，通过货币资源化、资源资产化、资产资本化、资本证券化、证券货币化的良性循环，实现了持续跨越式发展，集团总资产已逾千亿元，
                拥有云南城投置业股份有限公司、云南水务产业发展有限公司、莱蒙国际集团有限公司3家主板上市公司和26家全资（控股）二级子公司，诚泰财产保
                险股份有限公司、云南本元支付管理有限公司等20家二级参股公司，业务涵盖城市开发、城镇水务、文化旅游会展、医疗、生物医药、金融、教育、酒
                店等领域。城市开发主业以城投置业为主要载体，以旅游地产、养生地产为战略重点，着力推进 “梦云南”（荣获“2012中国旅游地产品牌价值TOP10”）
                和“融城”品牌系列项目的开发；城镇水务坚持综合水务投资、大水务经营、轻重资产相结合、提升人居环境综合投资四个模式，全方位开发省内、外及
                国外市场，业务辐射北京、山东、新疆、江苏、贵州、香港以及南亚地区；文化旅游会展业务以西双版纳、迪庆民族文化旅游提质增效为着力点，不断拓宽
                业务范围，探索新型旅游开发模式，打造集会展、旅游、休闲、度假、养生于一体的旅游综合体项目。集团牵头发起设立的诚泰保险公司实现了云南地方保
                险业市场零的突破；控股的本元支付管理公司成为云南省首家第三方支付业务企业；投资建设的一乘驾校成为西南地区最大规模驾驶培训学校；作为全国第一个
                并购三级甲等公立医院的成功案例，由集团投资建设的“昆明市第一人民医院甘美国际医院”建成运营；旗下三七科技基本完成了从科技到种植、提取、精深加
                工、贸易各板块的三七全产业链布局 结合新一轮国企改革的政策导向，集团正按照有利于聚焦核心主业、提升核心竞争力，在坚持专业化基础上实施相关多元化
                经营的既定目标，以新定位优化集团战略规划，逐步建立完善集团业务生态系统，确保做强城市开发与城镇水务两个主营业务，推进“大健康、大休闲”两个转型业
                务，抓好金融与互联网两个平台建设，实现集团业务的转型升级与协同发展。
            </span><br/><br/><br/>
            <span>
                2云南省城市建设投资集团有限公司（简称：云南城投集团，原名：云南省城市建设投资有限公司，2012年7月更名）成立于2005年4月，是经云南省人民政府批准组建
                的现代大型国有企业，是云南省人民政府授权的城建投资项目出资人代表及实施机构。2009年2月，集团纳入云南省国资委监管。
                云南城投集团以“政府引导、市场机制、企业运作”为指导思想，围绕云南省委、省政府关于城镇化建设的战略部署，实现政府意图。
                通过建立科学高效的投融资体系，在政府重点关注的产业区域发挥种子资金的投资引导和多级放大作用，促进云南省城市化建设与发展。
                先后投资建设了北京云南大厦、云南海埂会议中心、部分驻昆高校呈贡新校区建设、西双版纳避寒山庄、昆明第一人民医院北市区医院、
                昆明滇池国际会展中心等重点项目。
            </span><br/><br/><br/>
            <span>
                2集团成立以来，通过货币资源化、资源资产化、资产资本化、资本证券化、证券货币化的良性循环，实现了持续跨越式发展，集团总资产已逾千亿元
                ，拥有云南城投置业股份有限公司、云南水务产业发展有限公司、莱蒙国际集团有限公司3家主板上市公司和26家全资（控股）二级子公司，
                诚泰财产保险股份有限公司、云南本元支付管理有限公司等20家二级参股公司，业务涵盖城市开发、城镇水务、文化旅游会展、医疗、生物医药、
                金融、教育、酒店等领域。城市开发主业以城投置业为主要载体，以旅游地产、养生地产为战略重点，着力推进 “梦云南”（荣获“2012中国旅游地产品牌价值TOP10”）
                和“融城”品牌系列项目的开发；城镇水务坚持综合水务投资、大水务经营、轻重资产相结合、提升人居环境综合投资四个模式，全方位开发省内、外及国外市场，业务辐射
                北京、山东、新疆、江苏、贵州、香港以及南亚地区；文化旅游会展业务以西双版纳、迪庆民族文化旅游提质增效为着力点，不断拓宽业务范围，探索新型旅游开发模式，
                打造集会展、旅游、休闲、度假、养生于一体的旅游综合体项目。集团牵头发起设立的诚泰保险公司实现了云南地方保险业市场零的突破；控股的本元支付管理公司成为云南
                省首家第三方支付业务企业；投资建设的一乘驾校成为西南地区最大规模驾驶培训学校；作为全国第一个并购三级甲等公立医院的成功案例，由集团投资建设的“昆明市第一人民医院甘美
                国际医院”建成运营；旗下三七科技基本完成了从科技到种植、提取、精深加工、贸易各板块的三七全产业链布局。
            </span>
        </div>
        <div class="enterprise_article"  style="display: none;">
            <span>
                3云南省城市建设投资集团有限公司（简称：云南城投集团，原名：云南省城市建设投资有限公司，2012年7月更名）
                成立于2005年4月，是经云南省人民政府批准组建的现代大型国有企业，是云南省人民政府授权的城建投资项目出资人
                代表及实施机构。2009年2月，集团纳入云南省国资委监管。
            </span><br/><br/><br/>
            <span>
                3云南城投集团以“政府引导、市场机制、企业运作”为指导思想，围绕云南省委、省政府关于城镇化建设的战略部署，
                实现政府意图。通过建立科学高效的投融资体系，在政府重点关注的产业区域发挥种子资金的投资引导和多级放大作用，
                促进云南省城市化建设与发展。先后投资建设了北京云南大厦、云南海埂会议中心、部分驻昆高校呈贡新校区建设、西双版纳避寒山庄、
                昆明第一人民医院北市区医院、昆明滇池国际会展中心等重点项目。
            </span><br/><br/><br/>

            <span>
                3集团成立以来，通过货币资源化、资源资产化、资产资本化、资本证券化、证券货币化的良性循环，实现了持续跨越式发展，集团总资产已逾千亿元，
                拥有云南城投置业股份有限公司、云南水务产业发展有限公司、莱蒙国际集团有限公司3家主板上市公司和26家全资（控股）二级子公司，诚泰财产保
                险股份有限公司、云南本元支付管理有限公司等20家二级参股公司，业务涵盖城市开发、城镇水务、文化旅游会展、医疗、生物医药、金融、教育、酒
                店等领域。城市开发主业以城投置业为主要载体，以旅游地产、养生地产为战略重点，着力推进 “梦云南”（荣获“2012中国旅游地产品牌价值TOP10”）
                和“融城”品牌系列项目的开发；城镇水务坚持综合水务投资、大水务经营、轻重资产相结合、提升人居环境综合投资四个模式，全方位开发省内、外及
                国外市场，业务辐射北京、山东、新疆、江苏、贵州、香港以及南亚地区；文化旅游会展业务以西双版纳、迪庆民族文化旅游提质增效为着力点，不断拓宽
                业务范围，探索新型旅游开发模式，打造集会展、旅游、休闲、度假、养生于一体的旅游综合体项目。集团牵头发起设立的诚泰保险公司实现了云南地方保
                险业市场零的突破；控股的本元支付管理公司成为云南省首家第三方支付业务企业；投资建设的一乘驾校成为西南地区最大规模驾驶培训学校；作为全国第一个
                并购三级甲等公立医院的成功案例，由集团投资建设的“昆明市第一人民医院甘美国际医院”建成运营；旗下三七科技基本完成了从科技到种植、提取、精深加
                工、贸易各板块的三七全产业链布局 结合新一轮国企改革的政策导向，集团正按照有利于聚焦核心主业、提升核心竞争力，在坚持专业化基础上实施相关多元化
                经营的既定目标，以新定位优化集团战略规划，逐步建立完善集团业务生态系统，确保做强城市开发与城镇水务两个主营业务，推进“大健康、大休闲”两个转型业
                务，抓好金融与互联网两个平台建设，实现集团业务的转型升级与协同发展。
            </span><br/><br/><br/>
            <span>
                3云南省城市建设投资集团有限公司（简称：云南城投集团，原名：云南省城市建设投资有限公司，2012年7月更名）成立于2005年4月，是经云南省人民政府批准组建
                的现代大型国有企业，是云南省人民政府授权的城建投资项目出资人代表及实施机构。2009年2月，集团纳入云南省国资委监管。
                云南城投集团以“政府引导、市场机制、企业运作”为指导思想，围绕云南省委、省政府关于城镇化建设的战略部署，实现政府意图。
                通过建立科学高效的投融资体系，在政府重点关注的产业区域发挥种子资金的投资引导和多级放大作用，促进云南省城市化建设与发展。
                先后投资建设了北京云南大厦、云南海埂会议中心、部分驻昆高校呈贡新校区建设、西双版纳避寒山庄、昆明第一人民医院北市区医院、
                昆明滇池国际会展中心等重点项目。
            </span><br/><br/><br/>
            <span>
                3集团成立以来，通过货币资源化、资源资产化、资产资本化、资本证券化、证券货币化的良性循环，实现了持续跨越式发展，集团总资产已逾千亿元
                ，拥有云南城投置业股份有限公司、云南水务产业发展有限公司、莱蒙国际集团有限公司3家主板上市公司和26家全资（控股）二级子公司，
                诚泰财产保险股份有限公司、云南本元支付管理有限公司等20家二级参股公司，业务涵盖城市开发、城镇水务、文化旅游会展、医疗、生物医药、
                金融、教育、酒店等领域。城市开发主业以城投置业为主要载体，以旅游地产、养生地产为战略重点，着力推进 “梦云南”（荣获“2012中国旅游地产品牌价值TOP10”）
                和“融城”品牌系列项目的开发；城镇水务坚持综合水务投资、大水务经营、轻重资产相结合、提升人居环境综合投资四个模式，全方位开发省内、外及国外市场，业务辐射
                北京、山东、新疆、江苏、贵州、香港以及南亚地区；文化旅游会展业务以西双版纳、迪庆民族文化旅游提质增效为着力点，不断拓宽业务范围，探索新型旅游开发模式，
                打造集会展、旅游、休闲、度假、养生于一体的旅游综合体项目。集团牵头发起设立的诚泰保险公司实现了云南地方保险业市场零的突破；控股的本元支付管理公司成为云南
                省首家第三方支付业务企业；投资建设的一乘驾校成为西南地区最大规模驾驶培训学校；作为全国第一个并购三级甲等公立医院的成功案例，由集团投资建设的“昆明市第一人民医院甘美
                国际医院”建成运营；旗下三七科技基本完成了从科技到种植、提取、精深加工、贸易各板块的三七全产业链布局。
            </span>
        </div>
    </div>
</div>
</block>

<block name="script">
<script type="text/javascript">
    var arr=['企业概况','企业文化','核心优势']
    $(document).ready(function() {
        $('#tabs li').click(function(){
            $(this).siblings().css('background','#222') .css('color','#fff');/*改变他所有兄弟的背景颜色*/
            $(this).css('background','#75C01F');/*改变他的属性*/
            var index = $(this).index();
            $('.enterprise_article').hide(); /*隐藏所有的这个容器*/
            $('.enterprise_article').eq(index).show();/*显示其中一个容器*/
            $('#address').html(arr[index])
        });
    });
</script>
</block>